.lightbox {
    position: relative;
    width: 1240px;
    height: 415px;
}

.lightbox:focus {
    outline: 3px solid red;
}

.lightbox__next,
.lightbox__preview {
    border: none;
    background: url('./arrow.svg') center center no-repeat;
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0px;
    margin-top: -14px;
    z-index: 11;
}

.lightbox__preview {
    left: 100px;
    bottom: 37px;
    transform: rotate(180deg);
}

.lightbox button {
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 0.3s;
}

.lightbox button:hover {
    opacity: 1;
}

.lightbox__container {
    width: 1240px;
    height: 415px;
    margin: 0px 50px 0 50px;
    display: flex;
    justify-content: center;
}

.lightbox__container img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: lightboxIn 0.5s;
}

.lightbox__length {
    color: white;
    display: flex;
  align-items: end;
  position: relative;
  right: 630px;
  bottom: 10px;
}



@media screen and (max-width: 600px) {

    .lightbox,
    .lightbox__container {
        width: 343px;
        margin: 0
    }
    .lightbox__container img {
        width: 343px;
    }
    .lightbox__preview{
        left: 0px;
    }
    .lightbox__next {
        right: 20px;
    }
    .House__DropdownTabContainer {
        gap: 20px;
        padding-bottom: 20px;
    }
    .lightbox__length {
        right: 160px;
      }
    
}




@keyframes lightboxIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}