Header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .Header__Container {
    
    flex: 1 0;
  }


@media screen and (max-width: 600px) {

    .header {
      justify-content: space-between;
    }
    .Header__logo {
        width: 145px;
        height: 47px;
    }

    .Header__Container {
      flex: inherit;
    }
}