.House {
    margin-bottom: 20px;
}

.House__cardPartOne__title {
    font-size: 36px;
    color: #FF6060;
    font-weight: 500;
}
.House__cardPartOne__subTitle {
    font-size: 18px;
    color: #FF6060;
    font-weight: 500;
    line-height: 5px;
}

.House__carrousel{
    margin: 20px 0;
}

.House__hostImg {
    border-radius: 50px;
    width: 64px;
    height: 64px;
}

.House__about {
    display: flex;
}

.House__cardPartOne{
    flex-basis: 80%;
}
.House__cardPartTwo{
    flex-basis: 20%;
}

.House__cardPartTwo {
    display: flex;
    justify-content: flex-end;
}

.House__cardPartOne__buttonContainer{
    margin: 20px 0;
}

.House__cardPartOne__button {
    size:14px;
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
    background-color: #FF6060;
    border: none;
    font-weight: 500;
    margin-right: 10px;
}

.House__cardPartTwo {
    flex-direction: column;
}

.House__cardPartTwo__hostContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.House__cardPartTwo__hostName {
    color: #FF6060;
    font-size: 18px;
    width: 75px;
    font-weight: 500;
    margin-right: 15px;
    text-align: right;
}

.House__DropdownTabContainer {
    display: flex;
    width: 100%;
    gap: 64px;
}

.House__DropdownTab {
    width: 50%;
}

.House__cardPartTwo__rating {
    display: flex;
    justify-content: flex-end;
    margin:10px 0 20px 0;
}


@media screen and (max-width: 600px) {
    .House__carrousel img{
        width: 100%;
    }

    .House__about {
         display: block;
    }

    .House__carrousel {
        margin: 0px;
    }

    .House__cardPartOne__title {
        font-size: 18px;
        width: 300px;
    }

    .House__cardPartOne__subTitle {
        font-size: 14px;
    }

    .House__cardPartOne__buttonContainer {
        margin: 10px 0 20px 0;
    }

    .House__cardPartOne__title {
        font-size: 18px;
        width: 300px;
        margin-bottom: 5px;
    }

    .House__cardPartOne__button {
        font-size: 10px;
    }
    .House__cardPartTwo {
        display: flex;
        flex-direction: row-reverse;
        justify-content:space-between;
    }

    .House__cardPartTwo__rating {

    }
    .House__cardPartTwo__rating img{
        width: 18px;
        height: 18px;
    }

    .House__cardPartTwo__hostContainer{
        margin-right: 5px;
    }

    .House__cardPartTwo__hostName {
        font-size: 12px;
        margin-right: 15px;
        text-align: right;
    }
    .House__cardPartTwo__hostImg img {
        width: 32px;
        height: 32px;
    }
    .House__DropdownTabContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .House__DropdownTab {
        width: 100%;
    }
}
