body {
  width: 1440px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (max-width: 600px) {
    body {
      width: 375px;
      padding: 0 16px;
      box-sizing: border-box;
      margin: 0 auto;
    }
    #root {
      width: 100%;
    }
}